/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/img
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
phploy.ini
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/app/Http/Controllers/TryController.php
/resources/views/customer/try.blade.php
phploy.ini 