footer {
    background-color: #b1ae98;
    color: white;

    a {
        color: white;
        font-size: 14px;
    }
}

.footer-wrap {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

@media screen and (min-width: $small) {
    .footer-wrap {
        flex-direction: row;
        justify-content: space-between;
        padding-right: 15rem;
        padding-left: 15rem;
    }
}

.footer-icons {
    height: 2.7rem;
    width: 2.7rem;
}

.contact {
    display: flex;
    justify-content: center;
    height: 200px;
    flex-direction: column;
    align-items: center;
}

.phone-email {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-network {
    display: flex;
    justify-content: center;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
