.container {
    // display: flex;
    // flex-direction: column;
    width: 80px;
    background-color: white;
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;

    input {
        // width: 50px;
        // padding: 12px;
        border: 3px solid #ccc;
        border-radius: 4px;
        // resize: vertical;
        width: 200px;
    }
}

.country-input-wrap {
    padding-left: 20px;
}

.note-input-wrap {
    padding-left: 20px;
    border-radius: 4px;
}

textarea {
    border: 3px solid #ccc;
}

.cart-item__image {
    height: 100px;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.cart-item-name {
    font-weight: bold;
    text-transform: uppercase;
}

.cart-item-ordered-amount {
    width: 50px;
}

.cart-item-wrap-price-ordered-amount {
    margin-top: 60px;
}

.wrap {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-left: 20px;
}

.form {
    margin-left: 20px;
}

.wrap-total {
    margin-left: 20px;
}

.sentence {
    color: red;
}

.sentence-green {
    color: rgb(18, 180, 18);
}

.confirm-button {
    margin-left: 400px;
    margin-bottom: 10px;
}
