.header-wrap {
    height: 150px;
    // display: flex;
    flex-direction: column;
    // margin-bottom: 20px;
    background: url("https://cdn.pixabay.com/photo/2016/11/29/02/25/forest-1866837_960_720.jpg")
        center/cover no-repeat;
    opacity: 0.95;
}

.header-wrap .selected {
    align-self: center;
}

@media screen and (min-width: $small) {
    .header-wrap {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
    }
}

.header-icons-wrap {
    display: flex;
    justify-content: space-between;
    justify-content: flex-end;
}

@media screen and (min-width: $small) {
    .header-icons-wrap {
        display: none;
    }
}

.header-right-icons-wrap {
    display: flex;
    justify-content: space-between;
}

.icons-right {
    height: 3rem;
}

.logo {
    width: 10rem;
    height: 10rem;
}

.input-search-bar {
    height: 3rem;
    width: 600px;
    border-radius: 25px;
    display: none;
}

@media screen and (min-width: $small) {
    .input-search-bar {
        display: inline;
    }
}

.cart {
    height: 6rem;
    display: none;
}

@media screen and (min-width: 360px) {
    .cart {
        display: inline;
    }
}

.footer-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
