@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Ubuntu:wght@500&display=swap');

.img-background {
    background-color: rgba(11, 65, 11, 0.562);
    min-width: 2rem;
    min-height: 30rem;
    //    width: 500px;
    //    height: 500px;
    //    text-align: center;
}

.img-1 {
    background: url("https://cdn.pixabay.com/photo/2016/03/09/09/59/men-1245982_960_720.jpg")
        center/cover no-repeat fixed;
}

.img-2 { background: url("https://images.pexels.com/photos/248568/pexels-photo-248568.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") center/cover no-repeat fixed;
//background: url("https://cdn.pixabay.com/photo/2016/10/22/18/36/climbing-1761386_960_720.jpg")
//center/cover no-repeat fixed;
}

.img-3 {
    background: url("https://cdn.pixabay.com/photo/2019/09/04/14/24/hut-4451771_960_720.jpg")
        center/cover no-repeat fixed;
}

.img-4 {
    background: url("https://cdn.pixabay.com/photo/2015/09/09/17/57/ski-932188_960_720.jpg")
        center/cover no-repeat fixed;
}

a {
    text-decoration: none;
    //text-transform: uppercase;
    font-size: 17px;
}

// .nav-container {
//     display: flex;
//     justify-content: space-around;
//     margin-bottom: 20px;
//     margin-top: 40px;
// }

.inside a {
    display: flex;
    text-align: center;
    padding-top: 4.5rem;
    padding-left: 4rem;
    color: white;
    text-transform: uppercase;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
}

// .inside a:hover {
//     cursor: pointer;
//     margin-bottom: 5px;
// }

.nav-container a {
    color: black;
}

.navbar {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.navbar a {
    color: black;
}

@media screen and (max-width: 360px) {
    .navbar {
        display: flex;
        flex-direction: column;
    }
}
