@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Ubuntu:wght@500&display=swap");
$white: #ffffff;
$grey-light: #f8f9fa;
$grey-dark: #343a40;
$black: #000000;
$blue: #007bff;

$base-font: "Montserrat", sans-serif;

$small: 360px;
