.img-background {
    width: 500px;
    height: 500px;
    text-align: center;
}

.img-1 {
   background: url('https://cdn.pixabay.com/photo/2017/03/27/15/02/adventure-2179256_960_720.jpg') center/cover no-repeat;
}

.img-2 {
   background: url('https://cdn.pixabay.com/photo/2016/10/22/18/36/climbing-1761386_960_720.jpg') center/cover no-repeat;
}

a {
    color: rgb(0, 0, 0);
}